<%= render 'sidenav' %>

<div class="page_content">

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1 class="section_title">Medication List</h1>

<% @medications.each do |medication| %>
  <div>
    <ul class="object_list">
      <li><h3><%= medication.name %></h3></li>
      <li><%= link_to 'edit', edit_medication_path(medication.id), {:method => :get} %></li>
      <li><%= link_to 'delete', medication, confirm: 'Are you sure?', method: :delete %></li>
    </ul>
  </div>
<% end %>

</div>
