<h1>Listing schedule_to_entries</h1>

<table>
  <tr>
    <th>Schedule</th>
    <th>Entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedule_to_entries.each do |schedule_to_entry| %>
  <tr>
    <td><%= schedule_to_entry.schedule_id %></td>
    <td><%= schedule_to_entry.entry_id %></td>
    <td><%= link_to 'Show', schedule_to_entry %></td>
    <td><%= link_to 'Edit', edit_schedule_to_entry_path(schedule_to_entry) %></td>
    <td><%= link_to 'Destroy', schedule_to_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule to entry', new_schedule_to_entry_path %>
