<%= form_for(@schedule_alert) do |f| %>
  <% if @schedule_alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule_alert.errors.count, "error") %> prohibited this schedule_alert from being saved:</h2>

      <ul>
      <% @schedule_alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medication_id %><br />
    <%= f.number_field :medication_id %>
  </div>
  <div class="field">
    <%= f.label :entry_id %><br />
    <%= f.number_field :entry_id %>
  </div>
  <div class="field">
    <%= f.label :alert_delta_time %><br />
    <%= f.datetime_select :alert_delta_time %>
  </div>
  <div class="field">
    <%= f.label :alert_type %><br />
    <%= f.text_field :alert_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
