<p id="notice"><%= notice %></p>

<p>
  <b>Medication 1:</b>
  <%= @medication_conflict.medication1_id %>
</p>

<p>
  <b>Medication 2:</b>
  <%= @medication_conflict.medication2_id %>
</p>

<p>
  <b>Conflict type:</b>
  <%= @medication_conflict.conflict_type %>
</p>


<%= link_to 'Edit', edit_medication_conflict_path(@medication_conflict) %> |
<%= link_to 'Back', medication_conflicts_path %>
