<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @entry.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @entry.end_date %>
</p>

<p>
  <b>Start time:</b>
  <%= @entry.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @entry.end_time %>
</p>

<p>
  <b>Event id:</b>
  <%= @entry.event_id %>
</p>

<p>
  <b>Schedule Drug id:</b>
  <%= @entry.schedule_drug_id %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
