<h1>Listing user_infos</h1>

<table>
  <tr>
    <th>User</th>
    <th>Caregiver</th>
    <th>Fname</th>
    <th>Lname</th>
    <th>Phone number</th>
    <th>Is caregiver</th>
    <th>Has caregiver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_infos.each do |user_info| %>
  <tr>
    <td><%= user_info.user_id %></td>
    <td><%= user_info.caregiver_id %></td>
    <td><%= user_info.fname %></td>
    <td><%= user_info.lname %></td>
    <td><%= user_info.phone_number %></td>
    <td><%= user_info.is_caregiver %></td>
    <td><%= user_info.has_caregiver %></td>
    <td><%= link_to 'Show', user_info %></td>
    <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
    <td><%= link_to 'Destroy', user_info, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User info', new_user_info_path %>
