<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_info.user_id %>
</p>

<p>
  <b>Caregiver:</b>
  <%= @user_info.caregiver_id %>
</p>

<p>
  <b>Fname:</b>
  <%= @user_info.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @user_info.lname %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user_info.phone_number %>
</p>

<p>
  <b>Is caregiver:</b>
  <%= @user_info.is_caregiver %>
</p>

<p>
  <b>Has caregiver:</b>
  <%= @user_info.has_caregiver %>
</p>


<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
