<%= form_tag('create_medication_entry') do %>
  <div class="field">
    <%= label_tag :name %><br />
    <%= text_field :medication, :name %>
  </div>
  <div class="field">
    <%= label_tag :importance %><br />
    <%= select :medication, :importance, [['low'], ['medium'], ['high']] %>
  </div>
  <div class="field">
    <%= label_tag :quantity_per_dose %><br />
    <%= text_field :medication, :quantity_per_dose %>
  </div>
  <div class="field">
    <%= label_tag :number_of_doses %><br />
    <%= text_field :medication, :number_of_doses %>
  </div>
  <div class="field">
    <%= label_tag :is_critical %><br />
    <%= check_box :medication, :is_critical %>
  </div>
  <div class="field">
    <%= label_tag :directions %><br />
    <%= text_field :medication, :directions %>
  </div>
  <div class="field">
    <%= label_tag :comments %><br />
    <%= text_area :medication, :comments %>
  </div>
  <div class="field">
    <%= label_tag :start_time, "Start time: " %><br />
    <%= datetime_select :entry, :start_time %>
  </div>
  <div class="field">
    <%= label_tag :end_time, "End time: " %><br />
    <%= datetime_select :entry, :end_time %>
  </div>
  <div class="field">
    <%= label_tag :has_alert %><br />
    <%= check_box_tag :has_alert %>
  </div>
  <div class="actions">
    <%= submit_tag "Add Medication" %>
  </div>
<% end %>
