<h1>Listing medications</h1>

<table>
  <tr>
    <th>User</th>
    <th>Alert</th>
    <th>Time block</th>
    <th>Name</th>
    <th>Importance</th>
    <th>Quantity per dose</th>
    <th>Number of doses</th>
    <th>Is critical</th>
    <th>Directions</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medications.each do |medication| %>
  <tr>
    <td><%= medication.user_id %></td>
    <td><%= medication.alert_id %></td>
    <td><%= medication.time_block_id %></td>
    <td><%= medication.name %></td>
    <td><%= medication.importance %></td>
    <td><%= medication.quantity_per_dose %></td>
    <td><%= medication.number_of_doses %></td>
    <td><%= medication.is_critical %></td>
    <td><%= medication.directions %></td>
    <td><%= medication.comment %></td>
    <td><%= link_to 'Show', medication %></td>
    <td><%= link_to 'Edit', edit_medication_path(medication) %></td>
    <td><%= link_to 'Destroy', medication, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medication', new_medication_path %>
