<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @medication.user_id %>
</p>

<p>
  <b>Alert:</b>
  <%= @medication.alert_id %>
</p>

<p>
  <b>Time block:</b>
  <%= @medication.time_block_id %>
</p>

<p>
  <b>Name:</b>
  <%= @medication.name %>
</p>

<p>
  <b>Importance:</b>
  <%= @medication.importance %>
</p>

<p>
  <b>Quantity per dose:</b>
  <%= @medication.quantity_per_dose %>
</p>

<p>
  <b>Number of doses:</b>
  <%= @medication.number_of_doses %>
</p>

<p>
  <b>Is critical:</b>
  <%= @medication.is_critical %>
</p>

<p>
  <b>Directions:</b>
  <%= @medication.directions %>
</p>

<p>
  <b>Comment:</b>
  <%= @medication.comment %>
</p>


<%= link_to 'Edit', edit_medication_path(@medication) %> |
<%= link_to 'Back', medications_path %>
