<%= form_for(@schedule_to_alert) do |f| %>
  <% if @schedule_to_alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule_to_alert.errors.count, "error") %> prohibited this schedule_to_alert from being saved:</h2>

      <ul>
      <% @schedule_to_alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_id %><br />
    <%= f.number_field :schedule_id %>
  </div>
  <div class="field">
    <%= f.label :alert_id %><br />
    <%= f.number_field :alert_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
