<div class="sidenav">
<ul class="sidenav">
  <li><%= link_to 'Home', '/home' %></li>
  <li><%= link_to 'Manage Calendar', '/manage_entries' %></li>
  <li><%= link_to 'Checklist' , '/' %></li>
  <li><%= link_to 'Caregiver', '/manage_caregiver' %></li>

  <% if current_user.has_schedule_drug_conflict %>
    <li><%= link_to 'Drug Conflict!', '/schedule_drugs_conflicts/unresolved' %></li>
  <% end %>
</ul>
</div>
