<h1>Listing schedule_drugs_conflicts</h1>

<table>
  <tr>
    <th>User id</th>
    <th>Schedule drug1</th>
    <th>Schedule drug2</th>
    <th>Reason</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedule_drugs_conflicts.each do |schedule_drugs_conflict| %>
  <tr>
    <td><%= schedule_drugs_conflict.user_id %></td>
    <td><%= schedule_drugs_conflict.schedule_drug1_id %></td>
    <td><%= schedule_drugs_conflict.schedule_drug2_id %></td>
    <td><%= schedule_drugs_conflict.reason %></td>
    <td><%= link_to 'Show', schedule_drugs_conflict %></td>
    <td><%= link_to 'Edit', edit_schedule_drugs_conflict_path(schedule_drugs_conflict) %></td>
    <td><%= link_to 'Destroy', schedule_drugs_conflict, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule drugs conflict', new_schedule_drugs_conflict_path %>
