<p id="notice"><%= notice %></p>

<p>
  <b>User id:</b>
  <%= @schedule_drugs_conflict.user_id %>
</p>

<p>
  <b>Schedule drug1:</b>
  <%= @schedule_drugs_conflict.schedule_drug1_id %>
</p>

<p>
  <b>Schedule drug2:</b>
  <%= @schedule_drugs_conflict.schedule_drug2_id %>
</p>

<p>
  <b>Reason:</b>
  <%= @schedule_drugs_conflict.reason %>
</p>


<%= link_to 'Edit', edit_schedule_drugs_conflict_path(@schedule_drugs_conflict) %> |
<%= link_to 'Back', schedule_drugs_conflicts_path %>
