<%= render 'sidenav' %>

<div class="page_content">
  <% for conflict in @conflicts %>
    <% schedule_drug1 = conflict[0] %>
    <% schedule_drug2 = conflict[1] %>
    Conflict between <%= schedule_drug1.drug.name %> and
    <%= schedule_drug2.drug.name %><br/>
    <%= link_to 'edit ' + schedule_drug1.drug.name, "/schedule_drugs/#{schedule_drug1.id}/edit" %>
    <%= link_to 'edit ' + schedule_drug2.drug.name, "/schedule_drugs/#{schedule_drug2.id}/edit" %><br/>
  <% end %>
</div>
