<%= form_for(@drug_time_conflict) do |f| %>
  <% if @drug_time_conflict.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug_time_conflict.errors.count, "error") %> prohibited this drug_time_conflict from being saved:</h2>

      <ul>
      <% @drug_time_conflict.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drug1_id %><br />
    <%= f.number_field :drug1_id %>
  </div>
  <div class="field">
    <%= f.label :drug2_id %><br />
    <%= f.number_field :drug2_id %>
  </div>
  <div class="field">
    <%= f.label :conflict_time %><br />
    <%= f.number_field :conflict_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
