<%= form_tag({:action => :update}, {:method => :put}) do %>
  <div class="field">
    <%= label_tag :name, "Name: " %><br />
    <%= text_field :event, :name %>
  </div>
  <div class="field">
    <%= label_tag :description, "Description: " %><br />
    <%= text_area :event, :description %>
  </div>
  <div class="field">
    <%= label_tag :start_date, "Start date: " %><br />
    <%= date_select :entry, :start_date %>
  </div>
  <div class="field">
    <%= label_tag :end_date, "End date: " %><br />
    <%= date_select :entry, :end_date %>
  </div>
  <div class="field">
    <%= label_tag :start_time, "Start time: " %><br />
    <%= time_select :entry, :start_time %>
  </div>
  <div class="field">
    <%= label_tag :end_time, "End time: " %><br />
    <%= time_select :entry, :end_time %>
  </div>
  <div class="field">
    <%= label_tag :has_alert, "Alert?: " %><br />
    <%= check_box_tag :has_alert, '1', @has_alert %>
  </div>
  <div class="actions">
    <%= submit_tag "Update Event" %>
  </div>
<% end %>
