<%= form_for(@caregiver_to_schedule) do |f| %>
  <% if @caregiver_to_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caregiver_to_schedule.errors.count, "error") %> prohibited this caregiver_to_schedule from being saved:</h2>

      <ul>
      <% @caregiver_to_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_id %><br />
    <%= f.number_field :schedule_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
