<h1>Listing medication_conflict_to_medications</h1>

<table>
  <tr>
    <th>Medication conflict</th>
    <th>Medication1</th>
    <th>Medication2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medication_conflict_to_medications.each do |medication_conflict_to_medication| %>
  <tr>
    <td><%= medication_conflict_to_medication.medication_conflict_id %></td>
    <td><%= medication_conflict_to_medication.medication1_id %></td>
    <td><%= medication_conflict_to_medication.medication2_id %></td>
    <td><%= link_to 'Show', medication_conflict_to_medication %></td>
    <td><%= link_to 'Edit', edit_medication_conflict_to_medication_path(medication_conflict_to_medication) %></td>
    <td><%= link_to 'Destroy', medication_conflict_to_medication, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medication conflict to medication', new_medication_conflict_to_medication_path %>
