<p id="notice"><%= notice %></p>

<p>
  <b>Medication conflict:</b>
  <%= @medication_conflict_to_medication.medication_conflict_id %>
</p>

<p>
  <b>Medication:</b>
  <%= @medication_conflict_to_medication.medication1_id %>
</p>

<p>
  <b>Medication:</b>
  <%= @medication_conflict_to_medication.medication2_id %>
</p>


<%= link_to 'Edit', edit_medication_conflict_to_medication_path(@medication_conflict_to_medication) %> |
<%= link_to 'Back', medication_conflict_to_medications_path %>
