<p id="notice"><%= notice %></p>

<p>
  <b>Schedule:</b>
  <%= @time_conflict.schedule_id %>
</p>

<p>
  <b>Is dismissed:</b>
  <%= @time_conflict.is_dismissed %>
</p>


<%= link_to 'Edit', edit_time_conflict_path(@time_conflict) %> |
<%= link_to 'Back', time_conflicts_path %>
