<h1>Listing time_blocks</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Description</th>
    <th>Frequency</th>
    <th>Days for frequency</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_blocks.each do |time_block| %>
  <tr>
    <td><%= time_block.user_id %></td>
    <td><%= time_block.name %></td>
    <td><%= time_block.description %></td>
    <td><%= time_block.frequency %></td>
    <td><%= time_block.days_for_frequency %></td>
    <td><%= time_block.date %></td>
    <td><%= link_to 'Show', time_block %></td>
    <td><%= link_to 'Edit', edit_time_block_path(time_block) %></td>
    <td><%= link_to 'Destroy', time_block, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Time block', new_time_block_path %>
