<h1>Listing caregiver_permission_levels</h1>

<table>
  <tr>
    <th>Caregiver</th>
    <th>User</th>
    <th>Can edit alerts</th>
    <th>Can edit schedule</th>
    <th>Can edit time conflicts</th>
    <th>Can edit medication conflicts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @caregiver_permission_levels.each do |caregiver_permission_level| %>
  <tr>
    <td><%= caregiver_permission_level.caregiver_id %></td>
    <td><%= caregiver_permission_level.user_id %></td>
    <td><%= caregiver_permission_level.can_edit_alerts %></td>
    <td><%= caregiver_permission_level.can_edit_schedule %></td>
    <td><%= caregiver_permission_level.can_edit_time_conflicts %></td>
    <td><%= caregiver_permission_level.can_edit_medication_conflicts %></td>
    <td><%= link_to 'Show', caregiver_permission_level %></td>
    <td><%= link_to 'Edit', edit_caregiver_permission_level_path(caregiver_permission_level) %></td>
    <td><%= link_to 'Destroy', caregiver_permission_level, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Caregiver permission level', new_caregiver_permission_level_path %>
