<h1>Listing event_conflicts</h1>

<table>
  <tr>
    <th>Entry1</th>
    <th>Entry2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_conflicts.each do |event_conflict| %>
  <tr>
    <td><%= event_conflict.entry1_id %></td>
    <td><%= event_conflict.entry2_id %></td>
    <td><%= link_to 'Show', event_conflict %></td>
    <td><%= link_to 'Edit', edit_event_conflict_path(event_conflict) %></td>
    <td><%= link_to 'Destroy', event_conflict, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event conflict', new_event_conflict_path %>
