<p id="notice"><%= notice %></p>

<p>
  <b>Entry1:</b>
  <%= @event_conflict.entry1_id %>
</p>

<p>
  <b>Entry2:</b>
  <%= @event_conflict.entry2_id %>
</p>


<%= link_to 'Edit', edit_event_conflict_path(@event_conflict) %> |
<%= link_to 'Back', event_conflicts_path %>
