<%= render 'sidenav' %>

<div class="page_content">
  <% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<% for request in @requests %>
  <div>
    <p><%= request.email %></p>
    <%= link_to 'Accept', "/caregiver_requests/#{request.id}/accept" %>
    <%= link_to 'Reject', '' %>
  </div>
<% end %>

</div>
